*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popular-container{
    margin-top: 8vh;
    overflow: hidden;
}


@media(min-width : 768px){

    .each-page {
        display: flex;
        width: 10%;
        height: 40px;
        justify-content: center;
        align-items: center;
    }

    button {
        height: 40px;
        font-size: 1.4rem;
    }
}