/* for pagepagination js */
.pagination-con {
    display: flex;
   justify-content: center;
   align-items: center;
    width: 100%;
    margin: 10px 0px;
}
.slide-button{
    display: none;
}
button{
    outline: none;
}

.large{
    display: none;
}

.pagination-links{
    display: flex;
    justify-content: center;
    width: 80%;
}

.button-div {
    width: 8%;
    height: 35px;
}
.button-div button{
  width: 100%;
  height: 100%;
  background-color: rgb(78, 76, 76);
  color: lightgray;
  cursor: pointer;
}
.button-div button:hover{
    background-color:lightgray;
    color: rgb(78, 76, 76);
}

.null-div {
    display: none;
}

#left #right {
    width: 100%;
    min-height: 50px;
    border: 1px solid rgb(88, 88, 88);
    color: lightgray;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    outline: none;
}

.page-links {
    color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.1rem;
    width: 100%;
    height: 100%;
}
.each-page {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 35px;
    border: 1px solid rgb(88, 88, 88);
    align-items: center;
}
.each-page:hover{
    cursor: pointer;
    background-color:rgb(85, 84, 84);
}

.active-page {
    background-color: orange;
}

.active {
    color: salmon;
}

/* for moviedetails */

.movie-details h3 {
    text-align: center;
     margin: 5px 0;
     letter-spacing: 0.5px;
     background-color: rgba(0,0,0,0.5);
}

.movie-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    color: whitesmoke;
    background-color: rgba(0,0,0,0.5);
}
.details-section{
    width: 100%;
    min-height: 50vh;
    margin-top: 2vh;
    border-bottom: 3px solid salmon;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ratings{
    text-align: center;
   
}
.ratings h3 {
    font-size: 3vh;
    margin: 4px;
}
.ratings p {
    font-size: 2.5vh;
   
    margin: 3px;
    padding: 2px;
}
.details-img{
    width: 90%;
}

.details-img img{
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(138, 137, 137, 0.19);
}
.overview p {
    font-size: 2.2vh;
    text-align: center;
    color: whitesmoke;
    padding: 5px;
    letter-spacing: 0.8px;
}
.overview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
   
}

/* for movie.js */


.movie-poster  {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: 40vh;
    width: 45%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}


.movie-poster img {
    display: flex;
    height: 35vh;
    border-radius: 10px;
}
.movie-title {
    display: flex;
    background-color: rgb(92, 91, 91);
    color: white;
    border-radius: 10px;
    text-align: center;
    min-height: 8vh;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
}

.movie-title:hover{
    background-color: lightgray;
    color: rgb(20, 20, 20);
}

/* for casts and crews */

.cast-slider-con{
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
#name{
    color: rgb(71, 70, 70);
}
#character{
    color: rgb(163, 163, 163);
}

.cast-slider{
    min-width: 45%;
    transition: 0.5s;
    min-height: auto;
    margin: 0% 2%; 
}
.cast-detail img {
    width: 100%;
    height: 35vh;
  
    border-radius: 15px;
}
.cast-crew{
    overflow-y: hidden;
    background-color: rgb(119, 118, 118);
    min-height: 50vh;
    width: 100%;
    margin-right: 10px;
}


.character{
    background-color: whitesmoke;
    text-align: center;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3px;
    border-radius: 15px;
}

@media (min-width : 520px) {
    .movie-poster{
        width: 27%;
        min-height: 55vh;
    }

    .movie-poster img {
        height: 45vh;
    }
    .movie-title{
        min-height: 10vh;
    }


    .large{
        display: block;
        border-bottom: 2px solid lightgray;
        padding-bottom: 10px;
    }
        
    .details-img{
        width: 50%;
    }
    .small{
        display: none;
    }

    .details-section{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        min-height: 80vh;
     }
     
    .details-img img {
        height: 70vh;
    }
    .large-rate{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 60vh;
        background: rgba(0,0,0,0.5);
    }
    .cast-slider{
        min-width: 22%;
    }

    .ratings p{
        font-size: 1.2rem;
       
    }
    .ratings h3 {
        font-size: 1.3rem;
    }
    .overview p {
        font-size: 1rem;   
    }
    .cast-detail img {
        height: 45vh;
    }
    .character{
        min-height: 10vh;
    }
    .cast-detail{
        margin-bottom: 20px;
    }
}



@media(min-width : 768px){
    .movie-details h3{
        background-color: transparent;
    }
    .each-page {
        display: flex;
        width: 10%;
        height: 40px;
        justify-content: center;
        align-items: center;
    }

    button {
        height: 40px;
        font-size: 1.4rem;
    }

    .movie-poster{
        width: 30%;
    }
    .cast-slider{
        min-width: 30%;
    }

    .ratings p{
        font-size: 1.3rem;
        background-color: rgba(0,0,0,0.5);
       
    }
    .ratings h3 {
        font-size: 1.4rem;
    }
    .overview p {
        font-size: 1.2rem;   
    }
    .cast-detail img {
        height: 35vh;
    }
    .character{
        min-height: 8vh;
    }
    .cast-detail{
        margin-bottom: 20px;
    }
}

@media(min-width : 968px){
    .movie-poster{
        width: 23%;
        min-height: 35vh;
    }
    .movie-poster img{
        height: 30vh;
    }
    .large{
        display: block;
        border-bottom: 2px solid lightgray;
        padding-bottom: 10px;
    }
        
    .details-img{
        width: 50%;
    }
    .small{
        display: none;
    }

    .details-section{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        min-height: 80vh;
     }
     
    .details-img img {
        height: 70vh;
    }
    .large-rate{
        width: 40%;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 60vh;
    }
    .cast-slider{
        min-width: 29%;
    }
}

@media(min-width : 1200px){
    .movie-poster{
        width: 17%;
        min-height: 45vh;
    }
    .movie-poster img{
        height: 40vh;
    
    }
    .cast-slider{
        min-width: 15%;
        margin: 0;
        padding: 0;
    }
    .cast-detail{
        margin: 20px;
    }
   
    .cast-slider-con{
        overflow: hidden;
        display: flex;
    }
    #left{
        position: absolute;
        left: 0;
        top: 5;
    }
    #right{
        position: absolute;
        right: 0;
    }

    .slide-button{
        z-index: 999999;
        background-color: rgba(0,0,0,0.5);
        color: lightgrey;
        display: block;
        cursor: pointer;
       
    }
    .details-section{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        min-height: 90vh;
 
     }
     .small{
         display: none;
     }
     .large{
         display: block;
         border-bottom: 2px solid lightgray;
         padding-bottom: 10px;
     }
         
     .details-img{
         width: 40%;
     }
     .details-img img {
         height: 80vh;
     }
     .large-rate{
         width: 40%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         min-height: 60vh;
     }
    
     .details-img{
        width: 50%;
    }
     .ratings p{
         font-size: 1.5rem;
         background-color: transparent;
     }
     .ratings h3 {
         font-size: 1.8rem;
     }
     .overview p {
         font-size: 1.3rem;
         -webkit-text-stroke: 1px rgb(228, 224, 224);
          color: rgb(230, 227, 227);
          text-align: center;
          background-color: transparent;
     }
     .button-div{
         height: 40px;
     }
     .deactivate{
         display: none;
     }

}

/* landscape view for phone screens*/

