

#go-left{
    position: absolute;
    left: 0%;
}
.slide-button{
    transform: translateY(-50%);
   width: 10vh;
   height: 10vh;
   background: none;
}


#go-right{
    position: absolute;
    right: 0%;
}

