nav {
    display: flex;
    background-color: rgb(83, 82, 82);
    color: white;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-around;
}

nav ul li {
    justify-content: space-around;
}

.search-div {
    display: flex;
    background-image: url("dunkirkcover.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

.home-page {
    height: 100;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input {
    text-transform: capitalize;
    background: transparent;
    border: none;
    color: white;
    border-bottom: solid 3px rgb(68, 65, 65);
    width: 40vh;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 530;
    letter-spacing: 1px;
    padding-bottom:10px ;
}

:-ms-input-placeholder {
    color: white;
    
}
::-webkit-input-placeholder{
    color: white;
}
form button {
    width: 20vh;
    height: 5vh;
    background-color:  rgb(68, 65, 65);
    color: white;
    font-size: 1rem;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
input:focus{
    outline: none;
}

.img-gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12vh;
    width: 100%;
}
.movie-poster  {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 10px;
}

.movie-poster img {
    width: 100%;
    height: 250px;
    display: block;
   
}