

.cast-slider-con{
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
.character{
    background-color: whitesmoke;
    text-align: center;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3px;
    border-radius: 15px;
}
#name{
    color: rgb(71, 70, 70);
}
#character{
    color: rgb(163, 163, 163);
}

.cast-slider{
    min-width: 45%;
    transition: 0.5s;
    min-height: auto;
    margin: 0% 2%; 
}
.cast-detail img {
    width: 100%;
    height: 35vh;
    margin-right: 20px;
    border-radius: 15px;
}
.cast-crew{
    overflow-y: hidden;
    background-color: rgb(119, 118, 118);
    min-height: 50vh;
    width: 100%;
    margin-right: 10px;
}


#go-left{
    position: absolute;
    left: 0%;
}
.slide-button{
    transform: translateY(-50%);
   width: 10vh;
   height: 10vh;
   background: none;
}


#go-right{
    position: absolute;
    right: 0%;
}


.movie-poster  {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    min-height: 45vh;
    width: 45%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
}


.movie-poster img {
    display: flex;
    height: 40vh;
    border-radius: 10px;
}
.movie-title {
    display: flex;
    background-color: rgb(92, 91, 91);
    color: white;
    border-radius: 10px;
    text-align: center;
    min-height: 8vh;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
}

.movie-title:hover{
    background-color: lightgray;
    color: rgb(20, 20, 20);
}
.movie-details h3 {
    text-align: center;
     margin: 5px 0;
     letter-spacing: 0.5px;
}

.movie-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: whitesmoke;
}
.details-section{
    width: 100%;
    min-height: 50vh;
    margin-top: 2vh;
    border-bottom: 3px solid salmon;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.ratings{
    text-align: center;
}
.ratings h3 {
    font-size: 3vh;
    margin: 4px;
}
.ratings p {
    font-size: 2.5vh;
}
.details-img{
    width: 90%;
}

.details-img img{
    width: 100%;
    height: 70vh;
    border-radius: 20px;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(138, 137, 137, 0.19);
}
.overview p {
    font-size: 2.2vh;
    text-align: center;
    color: whitesmoke;
    padding: 5px;
    letter-spacing: 0.8px;
}
.overview{
    width: 90%;
    margin-bottom: 5px;
}