.burger {
    width: 40px;
    height: 3px;
    background-color: rgb(114, 114, 114);
}

.burger-button {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 40px;
    background: transparent;
    border: none;
    justify-content: space-around;
    margin-right: 20px;
}

.burger-button:focus{
    outline: none;
}

.link-drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    transform: translateX(100%);
    transition: transform 0.35s ease-out;
}

.link-drawer.open{
  transform: translateX(0);
}

.back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(160, 157, 157, 0.8);
    z-index: 9999;
}

.burger-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.burger-ul li {
    color: rgb(75, 74, 74);
    font-size: 1.3rem;
}

.close-burger-div {
    width: 100%;
    min-height: 100px;
}

.close-burger-div button {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: lightgray;
    border: 2px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: grey;
    padding: 0px 5px;
    margin: 10px 0 0 10px;
}
.is-active {
    background: none;
    border: none;
    border-bottom: 2px solid salmon;
}


@media(min-width : 968px){
     .burger{
         display: none;
     }
     .burger-button{
         display: none;
     }
}